md-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

[md-fab] {
  position: absolute;
  right: 3%;
  top: 34px;
  z-index: 1;
}

.card-tag-container {
  list-style-type: none;
  font-size: 12px;
}

.card-tag-container li {
  margin-right:5px;
  padding: 5px 5px 5px 5px;
  display: inline;
  background-color: seagreen;
  position: relative;
  left:10px;
}
