<div class="form">
  <md-card>
    <md-card-title>Create your dog's profile</md-card-title>
    <md-card-content>
      <input [(ngModel)]="card.name" placeholder="Name">
      <input [(ngModel)]="card.description" placeholder="Description">
      <input [(ngModel)]="card.tags" placeholder="Tags">
      <input [(ngModel)]="card.image" placeholder="imageURL">
      <div>
        <md-checkbox>Is a good dog</md-checkbox>
      </div>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="accent" (click)="createLocation()">POST</button>
    </md-card-actions>
  </md-card>
</div>
