* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

#user-container {
  float:right;
  right:0px;
  position:absolute;
  top: 0px;
  display: inline;
}

#user-container #user-image {
  height: 40px;
  width: 40px;
  top:30px;
  display:inline;
}

#user-container #user-name {
  display: inline;
}

#user-container #user-pic-container {
  display: inline;
}


/*#user-container #user-pic {*/
  /*top: -3px;*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*background-size: 40px;*/
  /*border-radius: 20px;*/
/*}*/
/*#user-container #user-name {*/
  /*font-size: 16px;*/
  /*line-height: 36px;*/
  /*padding-right: 10px;*/
  /*padding-left: 20px;*/
/*}*/



